.CountryCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 800px;
  width: 80%;
  background-color: rgb(255, 128, 128);
  margin: 50px 25px;
  border-radius: 4px;
  padding: 30px;
}

.CountryCardContainer h2 {
  font-size: 35px;
  font-weight: 400;
}
