.TodoItem {
  border-radius: 4px;
  background-color: whitesmoke;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoItem:hover {
  cursor: pointer;
  transition: 0.2s ease-in;
  background-color: rgb(134, 199, 255);
}

.TodoItem button {
  text-decoration: none;
}
