.Button {
  font-size: 20px;
  padding: 10px;
  min-width: 100px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid darkgray;
  cursor: pointer;
}

.Button:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-5px);
  border: 2px solid black;
}
